<main >
    <fieldset style="display: flex;flex-direction: column; height: auto;">
        <mat-form-field>
            <input [(ngModel)]="backend" type="number" matInput placeholder="Backend">
        </mat-form-field>
        <mat-form-field>
            <input [(ngModel)]="frontend" type="number" matInput placeholder="Frontend">
        </mat-form-field>
        <mat-form-field>
            <input [(ngModel)]="cloud" type="number" matInput placeholder="Clouds">
        </mat-form-field>
        <mat-form-field>
            <input [(ngModel)]="frame" type="number" matInput placeholder="Frameworks">
        </mat-form-field>
        <button mat-raised-button color="accent" (click)="resultadoDatos()">Guardar</button>
        <p>Resultado es: {{resultado}}</p>
    </fieldset>

    <mat-card style="margin:auto;background-color: white;width: 100%;
    height: auto;">
        <div>
            <div>
                <div style="display: block;font-size: 50px;height: auto;">
                    <canvas baseChart 
                    [datasets]="radarChartData" 
                    [options]="radarChartOptions"
                    [labels]="radarChartLabels" 
                    [chartType]="radarChartType">
                    </canvas>
                </div>
            </div>
        </div>
    </mat-card>
</main>