
p {
    justify-content: baseline;
    text-align: justify;
    font-size: 20px;
}

.boton {
    width: autos;
    justify-content: center;
    background-color: #579E7B;
    color:white;
}
.textos{
    position: relative;
}