<mat-card style="opacity:0.8;position: relative;" class="w3-container w3-margin w3-padding">
    <div class="textos" class="w3-margin">


        <h1>Bienvenidos</h1>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident dolorem id consequuntur esse, aliquam
            quaerat, fugiat, sit eaque natus ipsum cupiditate repellendus blanditiis totam ut. Porro debitis sequi est
            necessitatibus. Lorem, ipsum dolor
            sit amet consectetur adipisicing elit. Iusto mollitia facere animi. Ullam et, animi modi possimus
            exercitationem voluptates excepturi officiis nulla aspernatur. Ad quas rem libero quia vel consequuntur.
            Lorem ipsum dolor sit, amet consectetur
            adipisicing elit. Ducimus, dolor ipsa. Velit consequuntur perferendis dolore maxime! Optio quis quod nulla
            quae provident non! Aliquid consequatur ea, blanditiis provident dolor accusantium!
        </p>

        <img src="../../../assets/imagens/meraki2.png" width="250px;" style="opacity:0.4;float: right; margin: auto;">

    </div>

    
    <div class="ingresar">
        <button mat-button class="w3-yellow googleBtn" (click)="authService.GoogleAuth()">Ingresar</button>
    </div>
</mat-card>